<h1><%= @student.name %></h1>

<p>
  <strong>Curso:</strong> Informática<br>
  <strong>Professor:</strong> Prof. Brunno Pleffken<br>
  <strong>Data de início:</strong> <%= @student.first_class_at %>
</p>

<div class="alert alert-warning">Não enviar as atividades antes das correções.</div>

<%= form_for :lessons do |f| %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Nome do aluno</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @lessons.each do |l| %>
        <% activity = l.activity %>
        <tr>
          <td style="width: 1%">
            <% unless activity.present? %>
              <input type="checkbox" name="lesson[]" value="<%= l.id %>">
            <% end %>
          </td>
          <td><%= l.title %></td>
          <td>
            <% if activity.present? %>
              <% if activity.lesson_type == 0 %>
                <span class="badge bg-success">Concluído</span>
              <% else %>
                <span class="badge bg-secondary">Falta</span>
              <% end %>
            <% else %>
              <%= link_to 'Acessar', student_lesson_path(@student, l) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= f.submit 'Falta', class: 'btn btn-sm btn-secondary' %>
  <%= f.submit 'Presença', class: 'btn btn-sm btn-secondary' %>

<% end %>
